.br-tr {
    border-color: transparent;
}

button {
    cursor: pointer;
}

.form {
    max-width: 700px;
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
}

.error-message {
    color: red;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
}